body {
    background: #ffffff;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-weight: 400;
}

aside {
    float: left;
    background: #EFEFEF;
    width: 400px;
    height: 100vh;
    color: #fff;
    position: fixed;
}


aside h3 {
    margin-top: 50px;
    font-size: 30px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

aside ul li {
    color: #454545;
    display: block;
    margin-top: 40px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 10px;
    padding-left: 127px;
}

aside ul li:hover, aside ul a:hover{
    text-decoration: none;
    color: #b9b9b9;
}

.logo{
    padding-left: 104px;
    padding-bottom: 120px;
}

main .features{
    float: left;
    color: #fff;
    margin-top: 40px;
    text-align: center;
    width: 75%;
    font-size: 19px;
    padding-left: 600px;
}

main .features h1 {
    font-size: 60px;
}

main .features p {
    max-width: 800px; 
    margin: 20px auto;
}

.conteiner{
    padding-left: 534px;
    padding-top: 200px;
    padding-right: 130px;
}

.post_cart{
    width: 403px;
    height: 450px;
    border-radius: 32px;
    border: 1px solid #C9C9C9;
    background-color: #fff;
}

.img_article{
    border-radius: 32px 32px 0 0;
    width: 403px;
    height: 220px;
}

.interior_conteiner{
    margin-left: 20px;
    margin-top: 10px;
}

.user_profile{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.personal_conteiner{
    display: flex;
    align-items: center;
}

.personal_info{
    padding-left: 10px;
    font-size: 14px;
}

.post_title{
    font-size: 18px;
}

.post_preview{
    font-size: 16px;
    color: #8B8B8B;
}

header{
    padding-left: 400px;
}

.followers{ 
    color: #8B8B8B;
}

.info_conteiner{
    margin-top: 8px;
}

.post_created_at{
    font-size: 15px;
    color: #C9C9C9;
    margin-bottom: 8px;
}